.graphs-main {
  display: flex;
  flex-wrap: wrap;
  background-color: #7c2d12;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  border: 2rem;
  border: 1px white solid;

  .gender-data {
    border: 1px white solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .p .bar-chart {
    border: 1px white solid;
    padding: 1rem;
    padding-left: 1rem;
  }
}

.graphs-images {
  padding: 1rem;
}

.name {
  color: #7c2d12;
  font-size: 40px;
  padding: 2rem;
}

.button-donate {
  color: white;
  height: 100px;
  width: 400px;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background-color: red;
  border: 1px solid red;
  transition: all 0.3s;
  border-bottom: 3rem;

  :hover {
    border: 1px solid white;
    cursor: pointer;
  }

  :active {
    box-shadow: 4px 4px 12px #5e5b5b, -4px -4px 12px #ffffff;
  }
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
