.graphs-main {
  display: flex;
  flex-wrap: wrap;
  background-color: #7c2d12;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  border: 2rem;
  border: 1px white solid;

  .bar-chart {
    border: 1px white solid;
    padding: 1rem;
    padding-left: 1rem;
  }

  
}
